<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <h1>
          <a href="/">
            {% if settings.logo %}
              <img src="{{settings.logo}}" alt="{{settings.title}}" />
              <span class="sr-only">{{settings.title}}</span>
            {% else %}
              {{settings.title}}
            {% endif %}
          </a>
        </h1>
        <p class="copyright">Copyright® {{settings.title}} {{site.time | date: "%Y"}}</p>
      </div>
      <div class="col-12 col-md-4">
        {% assign menu = site.menus | where: "slug", "footer" | first %}
        {% for item in menu.items %}
          {% if item.page %}
            {% assign slug = item.page | slugify %}
            {% assign link = site.pages | where: "slug", slug | first %}
          {% else %}
            {% assign link = item %}
          {% endif %}
          {% if forloop.first %}
            <ul class="list-unstyled">
          {% endif %}
            <li class="nav-item">
            <a class="nav-link{% if page.url == link.url %} active{% endif %}" href="{{link.url}}">{{link.title}}</a>
          </li>
          {% if forloop.last %}
            </ul>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-12 col-md-4">
        {% if integrations.newsletter %}
          <div class="newsletter">
            {{integrations.newsletter}}
          </div>
        {% endif %}
      </div>
  </div>
</footer>