<div class="container">
  <h1>{{section.title}}</h1>
  {% for client in section.clients %}
  {% assign slug = client.organization | slugify %}
  {% assign organization = site.organizations | where: "slug", slug | first %}
  {% if forloop.first %}<ul class="row list-unstyled">{% endif %}
    <li class="col-12 col-md-4">
      <div>
        <h2>
          {{% if organization.url %}}
          <a href="{{organization.url}}">
          {{% endif %}}
            {{organization.title}}
          {{% if organization.url %}}
          </a>
          {{% endif %}}
        </h2>
        {{% if organization.industry %}}
        <h3>{{organization.industry}}</h3>
        {{% endif %}}
      </div>
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>