<div class="container">
  <h1>{{section.title}}</h1>
  {% for article in site.posts %}
  {% if forloop.first %}<ul class="row list-unstyled">{% endif %}
    <li class="col-12 col-md-4">
      <div class="embed-responsive embed-responsive-1by1">
        <article class="embed-responsive-item">
          <h1 class="title"><a href="{{article.url}}">{{article.title}}</a></h1>
          <div class="body">{{article.content}}</div>
        </article>
      </div>
    </li>
  {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>