{% assign rev = site.time | date: '%s' %}
{% assign settings = site.settings | where: "slug", "general" | first %}
{% assign integrations = site.settings | where: "slug", "integrations" | first %}
<!DOCTYPE html>
<html lang="en-US" class="{{page.slug}}{% if page.class %} {{page.class}}{% endif %}">
{% include head.html %}
<body>
  {% include svg.html %}
  {% include header.html %}
  <main id="main" role="main">
    {% for section in page.sections %}
      {% for block in section.blocks %}
        {{block.text | liquify}}
      {% endfor %}
    {% endfor %}
  </main>
  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %}
</body>
</html>