:root {
  font-family: sans-serif;
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
span {
  display: none;
}
@media (max-width: 575px) {
  .xs { display: inline }
}
@media (min-width: 576px) and (max-width: 767px) {
  .sm { display: inline; }
}
@media (min-width: 768px) and (max-width: 959px) {
  .md { display: inline; }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .lg { display: inline; }
}
@media (min-width: 1200px) {
  .xl { display: inline; }
}