<header class="navbar navbar-expand-lg navbar-dark bg-dark" role="banner">
  <nav class="container">
    <h1 class="navbar-brand">
      <a href="/">
        {% if settings.logo %}
          <img src="{{settings.logo}}" alt="{{settings.title}}" />
          <span class="sr-only">{{settings.title}}</span>
        {% else %}
          {{settings.title}}
        {% endif %}
      </a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% assign menu = site.menus | where: "slug", "header" | first %}
      {% for item in menu.items %}
        {% if item.page %}
          {% assign slug = item.page | slugify %}
          {% assign link = site.pages | where: "slug", slug | first %}
        {% else %}
          {% assign link = item %}
        {% endif %}
      {% if forloop.first %}
      <ul class="navbar-nav ml-auto">
      {% endif %}
        <li class="nav-item">
          <a class="nav-link{% if page.url == link.url %} active{% endif %}" href="{{link.url}}">{{link.title}}</a>
        </li>
      {% if forloop.last %}
      </ul>
      {% endif %}
      {% endfor %}
      {% if settings.search %}
      <a class="navbar-search" href="#search-modal" data-toggle="modal" data-target="#search-modal"><i class="fa fa-search" aria-label="search"></i></a>
      {% endif %}
    </div>
  </nav>
</header>